[submodule "youtube-ios-player-helper"]
	path = youtube-ios-player-helper
	url = https://github.com/youtube/youtube-ios-player-helper.git
[submodule "mapbox-ios-sdk"]
	path = mapbox-ios-sdk
	url = https://github.com/mapbox/mapbox-ios-sdk.git
